.box_Right {
    width: 380px;
    margin: 0px 0px 20px 20px;
}
.Card_CompanyItem {
    margin-bottom: 30px;
}
.Card_page, .Card_Project {
    margin-top: 60px;
}
.Card_ProjectItem {
    margin-bottom: 30px;
}